# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\UNIVERSIDAD\2021-1\ARSW_2021-1\S02-PARALLELISM_AND_CONCURRENCY\LAB_02\LAB_DESARROLLO\Laboratorio-No.02-ARSW\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
